<!DOCTYPE html>
<html>
  <head>
  <script src="{{ url_for('static', filename='libs/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='libs/highcharts.js') }}"></script>
  <script src="{{ url_for('static', filename='libs/series-label.js') }}"></script>
  <script src="{{ url_for('static', filename='libs/exporting.js') }}"></script>
  <script src="{{ url_for('static', filename='libs/export-data.js') }}"></script>
  <script src="{{ url_for('static', filename='libs/accessibility.js') }}"></script>

  <!-- <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script> -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Drone Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">

  <head>
  <body>


        <header>

		<img src="{{ url_for('static', filename='media/logo_iati.png') }}" alt="logo" width="200px">

        </header>

        <main>

          <div class="dashboard-gui">
              <h1 class="dashboard-title">PROJETO HIDROGÊNIO</h1>
              <table>
                <tr>
                  <th>SENSOR</th>
                  <th>STATUS</th>
                  <th>VALOR</th>
                </tr>
                <tr>
                  <td>SENSOR 1</td>
                  <td>
                    <div id="sensor1_battery" class="container">
                      <div class="battery_1"></div>
                      <div class="battery_2"></div>
                      <div class="battery_3"></div>
                      <div class="battery_4"></div>
                      <div class="battery_5"></div>
                      <div class="battery_6"></div>
                      <td id='sensor1_value'> </td>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>SENSOR 2</td>
                  <td>
                    <div id="sensor2_battery" class="container">
                        <div class="battery_1"></div>
                        <div class="battery_2"></div>
                        <div class="battery_3"></div>
                        <div class="battery_4"></div>
                        <div class="battery_5"></div>
                        <div class="battery_6"></div>
                        <td id='sensor2_value'> </td>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>SENSOR 3 </td>
                  <td>
                    <div id="sensor3_battery" class="container">
                        <div class="battery_1"></div>
                        <div class="battery_2"></div>
                        <div class="battery_3"></div>
                        <div class="battery_4"></div>
                        <div class="battery_5"></div>
                        <div class="battery_6"></div>
                        <td id='sensor3_value'> </td>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>SENSOR 4 </td>
                  <td>
                    <div id="sensor4_battery" class="container">
                        <div class="battery_1"></div>
                        <div class="battery_2"></div>
                        <div class="battery_3"></div>
                        <div class="battery_4"></div>
                        <div class="battery_5"></div>
                        <div class="battery_6"></div>
                        <td id='sensor4_value'> </td>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>SENSOR 5 </td>
                  <td>
                    <div id="sensor5_battery" class="container">
                        <div class="battery_1"></div>
                        <div class="battery_2"></div>
                        <div class="battery_3"></div>
                        <div class="battery_4"></div>
                        <div class="battery_5"></div>
                        <div class="battery_6"></div>
                        <td id='sensor5_value'> </td>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>SENSOR 6 </td>
                  <td>
                    <div id="sensor6_battery" class="container">
                        <div class="battery_1"></div>
                        <div class="battery_2"></div>
                        <div class="battery_3"></div>
                        <div class="battery_4"></div>
                        <div class="battery_5"></div>
                        <div class="battery_6"></div>
                        <td id='sensor6_value'> </td>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>SENSOR 7 </td>
                  <td>
                    <div id="sensor7_battery" class="container">
                        <div class="battery_1"></div>
                        <div class="battery_2"></div>
                        <div class="battery_3"></div>
                        <div class="battery_4"></div>
                        <div class="battery_5"></div>
                        <div class="battery_6"></div>
                        <td id='sensor7_value'> </td>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>SENSOR 8 </td>
                  <td>
                    <div id="sensor8_battery" class="container">
                        <div class="battery_1"></div>
                        <div class="battery_2"></div>
                        <div class="battery_3"></div>
                        <div class="battery_4"></div>
                        <div class="battery_5"></div>
                        <div class="battery_6"></div>
                        <td id='sensor8_value'> </td>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>SENSOR 9 </td>
                  <td>
                    <div id="sensor9_battery" class="container">
                        <div class="battery_1"></div>
                        <div class="battery_2"></div>
                        <div class="battery_3"></div>
                        <div class="battery_4"></div>
                        <div class="battery_5"></div>
                        <div class="battery_6"></div>
                        <td id='sensor9_value'> </td>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>SENSOR 10 </td>
                  <td>
                    <div id="sensor10_battery" class="container">
                        <div class="battery_1"></div>
                        <div class="battery_2"></div>
                        <div class="battery_3"></div>
                        <div class="battery_4"></div>
                        <div class="battery_5"></div>
                        <div class="battery_6"></div>
                        <td id='sensor10_value'> </td>
                    </div>
                  </td>
                </tr>

              </table>
              <div id="chart-temperature" class="test-chart"></div>
          </div>

	<script src="{{ url_for('static', filename='battery.js') }}"></script>
	<script src="{{ url_for('static', filename='update.js') }}"></script>

  </body>
</html>
